<head>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"
  />

  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>

  <style>
    #ques {
      animation-duration: 0.3s;
      animation-delay: 0s;
    }
  </style>
</head>

<body>
  <div class="container animated bounceIn ">
    <div
      id="ques"
      class="p-3 mb-2 bg-dark text-white rounded p-4 mt-4 "
    ></div>
    <div class="row">
      <div class=" bg-secondary text-white m-3 rounded pl-3 p-2 w-25">
        Total Quality Management
      </div>
      <div class=" bg-secondary text-white m-3 rounded pl-3 p-2 w-25">
        Devendran
      </div>

    </div>
    <div class="bt1 mb-4">
        <button type="button" class="btn btn-primary btn-lg mr-2 " id="ex">
          Excellent
        </button>
        <button type="button" class="btn btn-primary btn-lg mr-2" id="vg">
          Very good
        </button>
        <button type="button" class="btn btn-primary btn-lg mr-2" id="gd">
          Good
        </button>
        <button type="button" class="btn btn-primary btn-lg mr-2" id="av">
          Average
        </button>
        <button type="button" class="btn btn-primary btn-lg mr-2" id="nd">
          Needs to improve
        </button>
      </div>
    <button
      type="button"
      id="next"
      class="btn btn-success mt-2 mr-5 float-right w-25"
    >
      Next
    </button>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script>
    var quess = [
      "Q1.Explains the concept clearly",
      "Q2.Relates Theoretical Course Concepts with Real Time Applications",
      "Q3.Has been able to increase my knowledge on subject",
      "Q4.Helping students in providing study materials Lecture Notes,question banks with answer etc",
      "Q5.Conducting regular slip tests",
      "Q6.Providing guidance for exam preparation",
      "Q7.Specifies the  importance of topics in GATE and other competitive exams,current affair etc",
      "Q8.Relates well with students and encourage interaction for clearing doubts",
      "Q9.Provides assistance and counseling to the needy students",
      "Q11.Communicates in English",
      "Q12.Speaks clearly and audibly",
      "Q13.Maintains discipline inside the class",
      "Q14.Makes the classroom very lively and interacting",
      "Q15.General Feedback (Additional Comments)"
    ];

    var cnt = 0;
    document.querySelector("#ques").innerHTML =
      "Q1.Explains the concept clearly";
    $(document).ready(function() {
      $("#next").click(function() {
        cnt++;
        // document.querySelector('#ques').innerHTML = quess[cnt];
        $("#ques").removeClass("animated bounceInLeft");
        $("#ques").addClass("animated bounceOutRight");

        document
          .querySelector("#ques")
          .addEventListener("animationend", function() {
            $("#ques").removeClass("animated bounceOutRight");
            document.querySelector("#ques").innerHTML = quess[cnt];
            $("#ques").addClass("animated bounceInLeft");
          });
      });
    });

    $(".bt1").click(function() {
      $(".bt1 :not(:focus)").hide();
      $(".bt1 :focus").blur();
    //   if($(this).hasClass('clicked'))
    //   {
    //     anime({
    //     targets: ".bt1",
    //     translateX: -100
    //   });  
    //     $(".bt1").show();
    //   }
    //   else {
      anime({
        targets: ".bt1",
        translateX: 900
      });
      $(this).addClass('clicked');
    // }
    });
  </script>
</body>
