<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
        <link rel="stylesheet" href="style/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
        <!--<script src="./js/animation.js"></script>-->
		<title></title>
		
		<style>
		    
		    
		    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.content{
    width: 380px;
    height: 80px;
    position: relative;
    overflow: hidden;
}
.blue_bg{
    position: absolute;
    width: 100%;
    left: 0%;
    height: 33%;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
}
.first{
    top: 0%;
}
.second{
    top:33%;
}
.third{
    top:66%;
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    color: white;
    padding: 0px 10px;
    transform: translate(-50%, -50%);
}

		</style>
		
		
		<script>
		
		
anime.timeline({
        
    })
    .add({
        targets: '.blue_bg',
        left: ['-100%', '100%'],
        easing: 'easeOutExpo',
        duration: 2000,
        delay: (el,i)=>i*200
    })
    .add({
        targets: '.text',
        top: ['75%', '50%'],
        opacity: [0,1],
        easing: 'easeOutExpo',
        duration: 1200,
        delay: (el, i)=>i*100,
        offset: '-=1600'
    })	    

		</script>
		
		
	</head>
	<body>
        <div class="content">
            <div class="blue_bg first">
            </div>
            <div class="blue_bg second">
            </div>
            <div class="blue_bg third">
            </div>
            <div class="text">
                
            </div>
            
        </div>
        <br>
        <button id = "bt"> click meee</button>
	</body>
</html>